@import "Global";
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  width: 100%;
  min-width: 300px;
  // width: 300px;
  overflow-y: hidden;
  // background-color: $color2;
}
@media screen and (min-width: 320px) {
  .main {
    min-width: 300px;
  }
}

/* Dispositivos móviles medianos */
@media screen and (min-width: 480px) {
  .main {
    min-width: 480px;
  }
}

/* Dispositivos móviles grandes y tablets */
@media screen and (min-width: 768px) {
  .main {
    min-width: 768px;
  }
}

/* Pantallas de escritorio y laptops */
@media screen and (min-width: 1024px) {
  .main {
    max-width: 1024;
  }
}
