@import "Global";
.paginacion-container {
  border: 2px solid $color3;
  border-radius: 5px;
  margin: 5px;
  margin-top: 15px;
  //padding: 5px;
}
.pagination {
  margin: 5px;

  display: flex;
  justify-content: space-between;
}
.page-item {
  list-style: none;
  //border: 1px solid $color1;
  border-radius: 5px;
  background-color: $color3;
  box-shadow: 1px 1px $color2;
  color: $color3;
  cursor: pointer;
  padding: 2px;
}
.page-link {
  color: $color2;
}
.active {
  box-shadow: 1px 1px $color5;
}
.datos-cantidad {
  text-align: center;
  color: $color2;
}
