@import "Global";
.form-busqueda {
  min-width: 300px;

  display: flex;
  width: 100%;
  border: 2px solid $color3;

  //padding: 10px;
}
.search-container {
}
.search-params {
  width: 75%;
}
.search-btn {
  display: flex;

  justify-content: center;
  align-items: center;
}
// .search-container {
//   border: 2px solid $color1;
//   border-radius: 20px;
//   display: block;
// }
.search-group {
  padding: 5px;
}
.search-group * {
  padding: 3px;
}
.inputBusqueda {
  margin-top: 5px;
  border-radius: 5px;
  border: 1px dashed $color1;
}
label {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 26px;
  color: $color2;
}
.intervalo-group {
  font-size: 0.5rem;
  background-color: gray;

  display: block;
  align-items: center;
  padding: 5px;
}
.intervalo-group * {
  margin: 5px;
}
.select-estado {
  border-radius: 5px;
  margin-left: 23px;
}
.intervalo-hasta {
  border-radius: 5px;
}
.intervaloHidden {
  display: none;
}
.btnbuscar {
  width: 40px;
  height: 40px;
  border: 1px solid $color2;
  border-radius: 5px;
  background-color: $color3;
  box-shadow: 2px $color5;
  color: $color2;
  cursor: pointer;
}
